@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">

                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                    <span class="place">
                        @course.Place
                    </span>
                </div>
            </li>

        }
    </ul>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p> Danh Sách</p>
    <table class="table">
        
        <tr>
            <th> Ngày </th>
            <th> </th>
            <th> Name </th>

            <th> Place </th>
            <th> Edit</th>


        </tr>
      

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <div class="action">
                        <a href="@Url.Action("Edit", "Courses", new { id = item.Id })">Edit</a>
                        <a href="@Url.Action("Delete","Courses",new { id=  item.Id })">Delete</a>
                    </div>
                </td>
            </tr>
        }

    </table>
