@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chào mừng bạn đến với khoá học siêu cấp VIP pro </h1>
    <p class="lead"> Cách đi rừng hiệu qua? cắm mắt kiểm soát, phản gank chuẩn mực </p>
    <a href="https://www.facebook.com/taoghetfb/"> FaceBook </a>
    
</div>
@using BigSchool.Models 
@model IEnumerable<BigSchool.Models.Course>
    <div class="row">
        <ul class="course">
            
            <li>
                <img src="~/images/166901393_1384480815218248_3414617181070975519_n.png" width="70" height="100"/>
               

                <img src="~/images/but2ngontay.jpg" width="70" height="100"/>

                <img src="~/images/167237174_1413469085659815_533833688571707643_n.jpg"width="70" height="100" />
            </li>
   
            @foreach (var course in Model)
            {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
                @*/* theo doi btn */*@
                <div class="details">
                    <div class="category">
                       @course.Category.Name
                        @course.Place
                        @if (course.isLogin)
                        {
                            if (course.isShowGoing)
                            {
                                <br /> <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button>

                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-info btn-sm js-tongle-attendance">Going</button>
                            }
                        }
                    </div>
                </div>
                @*/* theo doi btn */*@
             
                    <div class="lecture">
                        @course.Name 
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                               <br /> <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Follow</button>

                            }
                            else
                            {
                                      <br />  <button data-user-id="@course.LecturerId" class="btn btn-success btn-sm js-tongle-follow">Following</button>
                            }
                        }
                    

                </div>
        </li>  
            }
        </ul>
@section scripts 
{
    <script>
        $(document).ready(function ()
        {
            $(".js-tongle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendences/Attend", { Id: button.attr("data-course-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            alert("Cancel register course sucessfully!")
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going?");
                        } else {
                            alert("Register course sucessfully!")
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        }

                    }).fail(function () {
                        alert("oh co loi loi bro");
                    });
            });
            /* cript theo doi*/
            $(".js-tongle-follow").click(function (e) {
                var button = $(e.target);
                var followee = button.attr("data-user-id");
                $.post("/api/Attendences/Follow", { FolloweeId: button.attr("data-user-id") })
                    .done(function (result) {
                if (result == "cancel") {
                    $('.js-tongle-follow').each(function (i, obj) {
                        if ($(this).attr('data-user-id') == followee) {
                            $(this).removeClass("btn-success")
                                .addClass("btn-default")
                                .text("Follow");
                        }
                    });
                    alert("unFollow sucessfully")
                } else {
                    $('.js-tongle-follow').each(function (i, obj) {
                        if ($(this).attr('data-user-id') == followee) {
                            $(this).removeClass("btn-default")
                                .addClass("btn-success")
                                .text("Following");
                        }
                    });
                    alert("Follow sucessfully")
                }

                    }).fail(function () {
                        alert("co loi gi do roi bro");
                    });
            });
        })
    </script>    
  }
    </div>
  